body{
    height: 100vh;
}

#limpiezaprofunda {

    font-family: 'Nunito', sans-serif;

    .contenedor-superior {
        background-color: #89B2EF;
    }

    .contenedor-inferior {
        background-image: url('../images/limpiezaprofunda/FONDO_DRSMILE_ODONTO.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-color: #E7EFF8;
    }

    .contenedor-form {

        margin-top: -160px;

        .col-form {

            padding-top: 28px;

            .card {

                border-radius: 20px;
                color: #89B2EF;

                label {
                    font-size: 14px;
                    margin-bottom: 3px;
                }
                input {
                    border-radius: 10px;
                    box-shadow: 0px 1px 30px rgb(0 0 0 / 18%) !important;
                }
                input.servicios {
                    padding: 10px 20px 10px 20px;
                    color: #89B2EF;
                    background-color: #fff;
                }

                #btn-submit {
                    background-color: #89B2EF;
                    border-radius: 10px;
                    color: #fff;
                }

                .texto-pie-form {
                    color: #B2B2B2;
                    border-radius: 10px;
                    u {
                        color: #89B2EF;
                    }
                }

            }

        }

    }

}
