body {
  height: 100vh;
}
#landingazul {
  font-family: 'Nunito', sans-serif;
}
#landingazul .bg-blue {
  background-color: #89B2EF;
}
#landingazul .bg-rosa {
  background-color: #DFADE8;
  color: #fff;
}
#landingazul .bg-rosa .container-phone {
  width: 400px;
}
#landingazul .bg-rosa .container-phone a {
  margin-top: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
#landingazul .bg-rosa .container-phone img,
#landingazul .bg-rosa .container-phone a:first-child {
  margin-right: 10px;
  float: left;
}
#landingazul .bg-rosa .container-phone a:last-child {
  margin-left: 13px;
  float: left;
}
@media (max-width: 500px) {
  #landingazul .bg-rosa .container-phone {
    width: 100%;
    text-align: center;
  }
  #landingazul .bg-rosa .container-phone a {
    font-size: 14px;
    width: 100%;
    display: block;
  }
  #landingazul .bg-rosa .container-phone img {
    display: none;
  }
  #landingazul .bg-rosa .container-phone a:first-child {
    margin-right: 0px;
    float: none;
  }
  #landingazul .bg-rosa .container-phone a:last-child {
    margin-left: 0px;
    float: none;
  }
}
#landingazul .contenedor-superior {
  background-color: #89B2EF;
}
#landingazul .contenedor-inferior {
  background-image: url(/images/FONDO_DRSMILE_ODONTO.png?8db0c63e20261c1bf78c37f62dcd867a);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #E7EFF8;
}
#landingazul .contenedor-form {
  margin-top: -160px;
}
#landingazul .contenedor-form .col-form {
  padding-top: 28px;
}
#landingazul .contenedor-form .col-form .card {
  border-radius: 20px;
  color: #89B2EF;
}
#landingazul .contenedor-form .col-form .card label {
  font-size: 14px;
  margin-bottom: 3px;
}
#landingazul .contenedor-form .col-form .card input {
  border-radius: 10px;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.18) !important;
}
#landingazul .contenedor-form .col-form .card input.servicios {
  padding: 10px 20px 10px 20px;
  color: #89B2EF;
  background-color: #fff;
}
#landingazul .contenedor-form .col-form .card #btn-submit {
  background-color: #89B2EF;
  border-radius: 10px;
  color: #fff;
}
#landingazul .contenedor-form .col-form .card .texto-pie-form {
  color: #B2B2B2;
  border-radius: 10px;
}
#landingazul .contenedor-form .col-form .card .texto-pie-form u {
  color: #89B2EF;
}
#landingrosado {
  font-family: 'Nunito', sans-serif;
}
#landingrosado .bg-blue {
  background-color: #89B2EF;
}
#landingrosado .bg-rosa {
  background-color: #D9A6E8;
  color: #fff;
}
#landingrosado .bg-rosa .container-phone {
  width: 400px;
}
#landingrosado .bg-rosa .container-phone a {
  margin-top: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
#landingrosado .bg-rosa .container-phone img,
#landingrosado .bg-rosa .container-phone a:first-child {
  margin-right: 10px;
  float: left;
}
#landingrosado .bg-rosa .container-phone a:last-child {
  margin-left: 13px;
  float: left;
}
@media (max-width: 500px) {
  #landingrosado .bg-rosa .container-phone {
    width: 100%;
    text-align: center;
  }
  #landingrosado .bg-rosa .container-phone a {
    font-size: 14px;
    width: 100%;
    display: block;
  }
  #landingrosado .bg-rosa .container-phone img {
    display: none;
  }
  #landingrosado .bg-rosa .container-phone a:first-child {
    margin-right: 0px;
    float: none;
  }
  #landingrosado .bg-rosa .container-phone a:last-child {
    margin-left: 0px;
    float: none;
  }
}
#landingrosado .contenedor-superior {
  border-top: 1px solid #89B2EF;
  background-color: #D9A6E8;
}
#landingrosado .contenedor-inferior {
  background-image: url(/images/LP_PROMOCIONALES.png?ee98875645d3b6ef6f9599764347953b);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #E7EFF8;
}
#landingrosado .contenedor-form {
  margin-top: -160px;
}
#landingrosado .contenedor-form .col-form {
  padding-top: 28px;
}
#landingrosado .contenedor-form .col-form .card {
  border-radius: 20px;
  color: #D9A6E8;
}
#landingrosado .contenedor-form .col-form .card label {
  font-size: 14px;
  margin-bottom: 3px;
}
#landingrosado .contenedor-form .col-form .card input {
  border-radius: 10px;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.18) !important;
}
#landingrosado .contenedor-form .col-form .card input.servicios {
  padding: 10px 20px 10px 20px;
  color: #D9A6E8;
  background-color: #fff;
}
#landingrosado .contenedor-form .col-form .card #btn-submit {
  background-color: #D9A6E8;
  border-radius: 10px;
  color: #fff;
}
#landingrosado .contenedor-form .col-form .card .texto-pie-form {
  color: #B2B2B2;
  border-radius: 10px;
}
#landingrosado .contenedor-form .col-form .card .texto-pie-form u {
  color: #D9A6E8;
}

